################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/quicdoq/v16
/quicdoq/.vs/quicdoq/v16
/quicdoq/x64/Debug
/quicdoq_test/x64/Debug
/quicdoq_unittest/x64/Debug
/x64/Debug
/Debug
/quicdoq/Debug
/quicdoq/Release
/quicdoq/x64/Release
/quicdoq_test/Debug/quicdoq_test.tlog
/quicdoq_test/Debug
/quicdoq_test/Release
/quicdoq_test/x64/Release
/quicdoq_unittest/Debug
/quicdoq_unittest/Release
/quicdoq_unittest/x64/Release
/Release
/x64/Release
/quicdoq_cli_test/x64/Debug
/quicdoq_cli_app/x64/Debug
/quicdoq_cli_app/Debug
/quicdoq_cli_app/Release
/quicdoq_cli_app/x64/Release
/quicdoq_cli_test/Debug
/quicdoq_cli_test/Release
/quicdoq_cli_test/x64/Release
